.container {
	box-sizing: border-box;
	// border: 5px black solid;
	font-size: 1em;
	display: block;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	padding: 0 1em;
	margin: 0;

	.top {
		width: 150px;
		border: 2px solid black;
		padding-left: 1em;
		border-bottom: 0;
	}

	.bottom {
		width: 150px;
		padding-left: 1em;
		border: 2px solid black;
	}
	h3 {
		margin: 0;
	}

	p {
		margin: 0;
		// border-top: 5px solid black;
	}

	span {
		display: inline;
		color: darkred;
		font-size: 1em;
	}
}
